<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ШЕРВУД | Готельно-відпочинковий комплекс</title>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MCKGRFZ');</script>
<!-- End Google Tag Manager -->
    <meta property="og:title" content="ШЕРВУД — Готельно-відпочинковий комплекс поблизу Львова"/>
    <meta property="og:description" content="Готель, озеро, колиба, альтанки, коні та форель за 35 км від Львова, дорогою на Шегині"/>
    <meta property="og:image" content="http://sherwood-resort.com/og_image.jpg">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content= "http://sherwood-resort.com/" />
    <link rel="stylesheet" href="assets/css/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/jquery.datepick.css">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCKGRFZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="preloader">
      <div id="pre-logo"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="assets/js_plugins/myAngular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <div class="green-bgrd">
    	<div class="pattern-bgrd">
    		
    	</div>
    </div>
    <div class="row">
    	<div class="small-9 medium-6 large-4 small-centered column ">
    		<div class="small-logo">
    			<a href="index.html"><img src="assets/img/logo-h.png" alt="logo">
    			</a>
    		</div>
    	</div>
    	
    </div>
    <div class="rest-menu" ng-app="sherwoodMenu" ng-controller="menuCtrl">
    	<div class="orn-1"></div>
    	<h2 class="uppercase gold text-center">Сніданки</h2>
    	<img src="assets/img/brkfst_hero.jpg" alt="">
    	
    	<div class="orn-1"></div>
    	<div class="large-11 large-centered column ">
    		
    		
    		<table>
    			<tr ng-repeat="dish in brkfst">
    				<td class="dish-name">{[{dish.name}]}<br><span class="dish-descr">{[{dish.descr}]}</span></td>
    				<td class="dish-price text-right">{[{dish.price}]}</td>
    			</tr>
    		</table>
    		<div ng-repeat="section in brkfstAdd">
    				<h4 class="menu-section text-center uppercase">{[{section.section}]}</h4>
    				<table>
    					<tr ng-repeat="dish in section.dishes">
    						<td class="dish-name">{[{dish.name}]}</td>
    						<td class="dish-mass text-right">{[{dish.mass}]}</td>
    						<td class="dish-price text-right">{[{dish.price}]}</td>
    					</tr>
    				</table>
    			</div>
    		
    		
    	</div>
    	
    	
    	<div class="orn-1"></div>
    	<p class="text-center">Також на сніданок можна замовити страви з <a href="menu.html">загального меню</a>, за винятком страв з тандиру. <br>
    Сніданки в ресторані готелю з 8 до 10 год, опісля — в колибі</p>
    <h2 class="uppercase gold text-center">смачного!</h2>
    <div class="orn-1"></div>
    </div>
    <footer class="row column">
    <div class="table-booking">
    	<div class="text-center">
    		<a href="tel://+380323438097" class="success button uppercase">замовити столик</a>
    	</div>
    </div>
    </footer>
    <script src="assets/js/app.js"></script>
    <script src="assets/js_plugins/owl.carousel.min.js"></script>
    <script src="assets/js_plugins/jquery.lazy.min.js"></script>
    
  </body>
</html>